<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rackluxury.paintings">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <uses-permission-sdk-23
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rackluxury.paintings.activities.FirstSplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rackluxury.paintings.activities.SecondSplashScreenActivity" />
        <activity
            android:name="com.rackluxury.paintings.activities.LoginOrRegisterActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.rackluxury.paintings.activities.RegistrationActivity" />
        <activity android:name="com.rackluxury.paintings.activities.ForgotPassword" />
        <activity android:name="com.rackluxury.paintings.activities.LoginActivity" />
        <activity
            android:name="com.rackluxury.paintings.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.rackluxury.paintings.activities.CategoriesDetailActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name="com.rackluxury.paintings.activities.VideoActivity" />
        <activity
            android:name="com.rackluxury.paintings.activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.rackluxury.paintings.activities.UpdatePasswordActivity" />
        <activity android:name="com.rackluxury.paintings.activities.UpdateProfileActivity" />
        <activity android:name="com.rackluxury.paintings.activities.BillingActivity" />
        <activity android:name="com.rackluxury.paintings.activities.AboutUsActivity" />
        <activity android:name="com.rackluxury.paintings.activities.CompanyInfo" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver android:name="com.rackluxury.paintings.activities.RolexAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rolex_appwidget_info" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>